{% load static %}
<html>

<head>
	<meta charset="UTF-8">
	<title>Pr_2</title>
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
	<header class="header">
		<div class="container">
			<div class="social">
				<nav>
					<ul>
						<a href="#"><img src="http://i.piccy.info/i9/4a75e9d3912c9b34a57c3c94a0f9953e/1545054352/1654/1289385/icon1.jpg"></a>
						<a href="#"><img src="http://i.piccy.info/i9/ec61d2b9bdda03c065e5375124f97866/1545054416/1660/1289385/icon2.jpg"></a>
						<a href="#"><img src="http://i.piccy.info/i9/d8d4be7342eecc3bc1f91968fdb06bc9/1545054432/1674/1289385/icon3.jpg"></a>
						<a href="#"><img src="http://i.piccy.info/i9/96382654ec451d52fcfcd46f130ef3bd/1545054448/1659/1289385/icon4.jpg"></a>
						<a href="#"><img src="http://i.piccy.info/i9/0136433a7442c4b831c7855940a32b4e/1545054462/1822/1289385/icon5.jpg"></a>
					</ul>
				</nav>
			</div>
			<div class="search_form">
				<input class="fon" value="Search Our Website..." type="search">
				<button class="btn" type="submit">SEARCH</button>
			</div>
		</div>
		<div class="clear-fix"></div>
		<div class="logo-menu">
			<div class="logo-text">
				<p class="text">
					FRESHNESS
				</p>
				<p class="second-line-text">
					Free PSD Website Template
				</p>
			</div>
			<div class="menu">
				<nav>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Style Demo</a></li>
						<li><a href="#">Full Width</a></li>
						<li><a href="#">DropDown</a></li>
						<li><a href="#">Portfolio</a></li>
						<li><a href="#">Gallery</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="bottom-border">
			<hr>
		</div>
	</header>
	<section class="slider"> 
		<div class="container">
			<div class="monitor">
				<img src="http://i.piccy.info/i9/ebdca162db8ea086d0993c314a61ffcd/1545054546/5964/1289385/monitor.jpg">
			</div>
			<div class="content">
				<p>YOUR TITLE HERE</p>
				<p>Cursuspenatisaccum ut curabitur nulla tellus tor
					ames a in curabitur<br> pede. Idet mollisi eros dis
					orci congue elis et curabitur consequam<br> intesque.
					Curabiturpisametur in ante.</p>
			</div>
		</div>
	</section>
	<div class="bottom-border2">
		<hr>
	</div>
	<section class="intro"> 
		<div class="items"></div>
		<div class="item">
			<img src="http://i.piccy.info/i9/43337ef1dd27bf6c6d93488588dd1ea5/1545054627/3036/1289385/intro1.jpg">
			<p class="title">YOUR TITLE HERE</p>
			<p class="content_text">Vestibulumaccumsan egestibulum eu justo<br> convallis
				augue estas aenean elit intesque sed.<br> Facilispede
				estibulum nulla orna nisl velit elit ac<br> aliquat non
				tincidunt.</p>
			<a class="button" href="#">READ MORE »</a>
		</div>
		<div class="item">
			<img src="http://i.piccy.info/i9/43337ef1dd27bf6c6d93488588dd1ea5/1545054627/3036/1289385/intro1.jpg">
			<p class="title">YOUR TITLE HERE</p>
			<p class="content_text">Vestibulumaccumsan egestibulum eu justo<br> convallis
				augue estas aenean elit intesque sed.<br> Facilispede
				estibulum nulla orna nisl velit elit ac<br> aliquat non
				tincidunt.</p>
			<a class="button" href="#">READ MORE »</a>
		</div>
		</div>
		<div class="item">
			<img src="http://i.piccy.info/i9/43337ef1dd27bf6c6d93488588dd1ea5/1545054627/3036/1289385/intro1.jpg">
			<p class="title">YOUR TITLE HERE</p>
			<p class="content_text">Vestibulumaccumsan egestibulum eu justo<br> convallis
				augue estas aenean elit intesque sed.<br> Facilispede
				estibulum nulla orna nisl velit elit ac<br> aliquat non
				tincidunt.</p>
			<a class="button" href="#">READ MORE »</a>
		</div>
		</div>
	</section>
	<div class="bottom-border3">
		<hr>
	</div>
	<section class="services">
		<div class="shout">
			<p class="titel">
				“ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam<br>
				erat. In fringilla massa ut nisi ullamcorper pellentesque „
			</p>
		</div>
		<div class="main-services-item">
			<div class="services-item">
				<img src="https://picua.org/images/2018/12/17/e9138cd50187997a8c901fc3577b7007.jpg">
				<div>
					<h5>Title Goes Here</h5>
					<p>Morbit incidunt maurisque eros<br>
						molest nunc anteget sed vel lacus<br>
						mus semper. Anter dumnullam.</p>
				</div>
			</div>
			<div class="services-item">
				<img src="https://picua.org/images/2018/12/17/e9138cd50187997a8c901fc3577b7007.jpg">
				<div>
					<h5>Title Goes Here</h5>
					<p>Morbit incidunt maurisque eros<br>
						molest nunc anteget sed vel lacus<br>
						mus semper. Anter dumnullam.</p>
				</div>
			</div>
			<div class="services-item">
				<img src="https://picua.org/images/2018/12/17/e9138cd50187997a8c901fc3577b7007.jpg">
				<div>
					<h5>Title Goes Here</h5>
					<p>Morbit incidunt maurisque eros<br>
						molest nunc anteget sed vel lacus<br>
						mus semper. Anter dumnullam.</p>
				</div>
			</div>
		</div>
		<div class="main-services-item">
			<div class="services-item">
				<img src="https://picua.org/images/2018/12/17/e9138cd50187997a8c901fc3577b7007.jpg">
				<div>
					<h5>Title Goes Here</h5>
					<p>Morbit incidunt maurisque eros<br>
						molest nunc anteget sed vel lacus<br>
						mus semper. Anter dumnullam.</p>
				</div>
			</div>
			<div class="services-item">
				<img src="https://picua.org/images/2018/12/17/e9138cd50187997a8c901fc3577b7007.jpg">
				<div>
					<h5>Title Goes Here</h5>
					<p>Morbit incidunt maurisque eros<br>
						molest nunc anteget sed vel lacus<br>
						mus semper. Anter dumnullam.</p>
				</div>
			</div>
			<div class="services-item">
				<img src="https://picua.org/images/2018/12/17/e9138cd50187997a8c901fc3577b7007.jpg">
				<div>
					<h5>Title Goes Here</h5>
					<p>Morbit incidunt maurisque eros<br>
						molest nunc anteget sed vel lacus<br>
						mus semper. Anter dumnullam.</p>
				</div>
			</div>
		</div>
		</div>
	</section>
	<aside> 
		<div class="container">
			<div class="aside clearfix">
				<div class="aside-item">
						<h3>Contact Details</h3>
					<div class="text1">
						<p>Company Name</p>
						<p>Street Name & Number</p>
						<p>Town</p>
						<p>Postcode/Zip</p>
					</div>
					<div class="text2">
						<p>Tel: xxxxx xxxxxxxxx</p>
						<p>Fax: xxxxx xxxxxxxxx</p>
						<p>Email:<span>contact@mydomain.com</span></p>
					</div>
				</div>
				<div class="aside-item">
					<h3>Quick Links</h3>
					<div class="link-text">
						<p>Link Text Here</p>
						<p>Link Text Here</p>
						<p>Link Text Here</p>
						<p>Link Text Here</p>
					</div>
				</div>
				<div class="aside-item">
					<div class="blog-text">
						<h3>Blog Post Title</h3>
						<p>Posted by Admin on 00.00.0000</p>
						<p>Vestibulumaccumsan egestibulum eu</p>
						<p>justo convallis augue estas aenean elit</p>
						<p>intesque sed facilispede estibulum.</p>
						<a class="button-item" href="#">Read More »</a>
					</div>
				</div>
				<div class="aside-item">
					<h3>Newsletter</h3>
					<form class="decoration-form">
						<input class="field" type="text" size="50" placeholder="Name">
						<input class="field2" type="text" size="40" placeholder="Email">
					</form>
					<div class="aside-button">
						<a class="button" href="#">Submit</a>
					</div>
				</div>
			</div>
		</div>
	</aside>
	<footer>
		<div>
			<p>Copyright © 2013 Domain Name - All Rights Reserved</p>
			<a href="#">Template by OS Templates</a>
		</div>
	</footer>
</body>
</html>